[Unit]
Description=Integrate Ökofen with HA over MQTT
After=mosquitto.service
Requires=mosquitto.service
Wants=home-assistant.service

[Service]
Type=simple
User=homeassistant
ExecStart=<installdir>/bin/hamok -c <installdir>/config.yaml
RestartSec=15
Restart=always

[Install]
WantedBy=multi-user.target
